
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #104961, #1b3138, #104961);
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #2E5077;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #FFA630;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

    .button-placement {
        text-align: center;
    }

    .btn-orderpage {
        background: linear-gradient(90deg,#2BEEFF, #92F6FF);
        box-shadow: 0 0 25px ;
    }

    .btn {
        color: #fff;
        border: none;
        margin: 20px;
        padding: 20px 30px;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 4px;
        cursor: pointer;
        border-radius: 30px;
    }

/* Main header and text */
.mainHeader {
    font-size: 75px;
    color: white;
    text-align: center;
}

#mainText {
    font-size: 25px;
    color: white;
    text-align: center;
}
/* Main header and text end */

/* three div text and header */
.LRC-text {
    font-size: 18px;
    color: white;
}

.headers {
    font-size: 25px;
    color: white;
}
/* three div text and header END */

/* IMAGE */
.smallFoodImage {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: left;
    width: 250px;
    height: 300px;
}
/* image end */


/* three div  */
.container .box { 
    width:540px; 
    margin:50px; 
    display:table;
    margin: auto;
    border-spacing: 5em .5em ;
} 
.container .box .box-row { 
    display:table-row;
} 
.container .box .box-cell { 
    display:table-cell; 
    width:33%; 
    padding:10px; 
} 
.container .box .box-cell.box1 { 
    color:white; 
    text-align:justify;
} 
.container .box .box-cell.box2 { 
    text-align:justify 
} 
.container .box .box-cell.box3 { 
    text-align:justify; 
}
/* three div end */


/* Footer start */
.footer{
    text-align: center;
    background-color:#D7E8BA;
    font-size:17px;
    color:#000000;
    
}

.footerDiv {
    padding-top: 20px;
    position:relative;
    bottom: 10px;
    width: 100%;
}
/* Footer end */