
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #104961, #1b3138, #104961);
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #2E5077;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #FFA630;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

    .button-placement {
        text-align: center;
    }

    .btn-orderpage {
        background: linear-gradient(90deg,#2BEEFF, #92F6FF);
        box-shadow: 0 0 25px ;
    }

    .btn {
        color: #fff;
        border: none;
        margin: 20px;
        padding: 20px 30px;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 4px;
        cursor: pointer;
        border-radius: 30px;
    }



/* Footer start */
.footer{
    text-align: center;
    background-color:#D7E8BA;
    font-size:17px;
    color:#000000;
    
}

.footerDiv {
    padding-top: 20px;
    position:relative;
    bottom: 10px;
    width: 100%;
}
/* Footer end */


.contactPage-header {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    margin-bottom: 50px;
    padding-top: 10px;
}

.contactPage-text {
    padding-bottom: 15px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: rgb(32, 40, 116);
    color: white;
    padding: 20px 30px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #57b3fd;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    font-family: "Montserrat", sans-serif;
    margin: auto;
    margin-top: 50px;
    width: 55%;
    border-radius: 65px;
    background-color: wheat;
    padding: 50px;
  }

  .contact-section{
    font-family: "Montserrat", sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-info{
    color: #fff;
    max-width: 500px;
    line-height: 65px;
    padding-left: 70px;
    font-size: 18px;
  }
  
  .contact-info i{
    margin-right: 20px;
    font-size: 25px;
  }


  /*css for alert messages*/

.alert-success{
    z-index: 1;
    background: #D4EDDA;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    right: 0;
    top: 10px;
    border-left: 8px solid #3AD66E;
    border-radius: 4px;
  }
  
  .alert-error{
    z-index: 1;
    background: #FFF3CD;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    right: 0;
    top: 10px;
    border-left: 8px solid #FFA502;
    border-radius: 4px;
  }