.checkoutHeader {
  text-shadow: 1px 1px 3px #1b3138;
  font-size: 45px;
  color: rgb(255, 121, 121);
  text-align: center;
  text-decoration: underline;
}

  /* Footer start */
.footer{
  padding: 5px;
  text-align: center;
  background-color: rgb(255, 121, 121);
  font-size:17px;
  color:whitesmoke;
  text-shadow: 1px 1px 3px #1b3138;
  
}

.footerDiv {
  padding-top: 20px;
  position:justify;
  bottom: 10px;
  width: 100%;
}
/* Footer end */