
/* font-family: 'Carter One', cursive;
  font-family: 'Luckiest Guy', cursive; */

  .contactPage-header {
    text-align: center;
    font-family: 'Carter One', cursive;
    font-size: 35px;
    margin-bottom: 50px;
    padding-top: 10px;
}

.contactPage-text {
    padding-bottom: 15px;
    text-align: center;
    font-family: 'Carter One', cursive;
    font-size: 25px;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    font-family: 'Carter One', cursive;
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  input[type=email], select, textarea {
    font-family: 'Carter One', cursive;
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    font-family: 'Carter One', cursive;
    background-color: rgb(32, 40, 116);
    color: white;
    padding: 20px 30px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #57b3fd;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    font-family: 'Carter One', cursive;
    margin: auto;
    margin-top: 50px;
    width: 55%;
    border-radius: 65px;
    background-color: wheat;
    padding: 50px;
  }

  .contact-section{
    font-family: 'Carter One', cursive;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-info{
    font-family: 'Carter One', cursive;
    color: #fff;
    max-width: 500px;
    line-height: 65px;
    padding-left: 70px;
    font-size: 18px;
  }
  
  .contact-info i{
    margin-right: 20px;
    font-size: 25px;
  }


  /*css for alert messages*/

.alert-success{
    font-family: 'Carter One', cursive;  
    z-index: 1;
    background: #D4EDDA;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    right: 0;
    top: 10px;
    border-left: 8px solid #3AD66E;
    border-radius: 4px;
  }
  
  .alert-error{
    font-family: 'Carter One', cursive;
    z-index: 1;
    background: #FFF3CD;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    right: 0;
    top: 10px;
    border-left: 8px solid #FFA502;
    border-radius: 4px;
  }

  /* Footer start */
.footer{
  padding: 5px;
  text-align: center;
  background-color: rgb(255, 121, 121);
  font-size:17px;
  color:whitesmoke;
  text-shadow: 1px 1px 3px #1b3138;
  
}

.footerDiv {
  padding-top: 20px;
  position:justify;
  bottom: 10px;
  width: 100%;
}
/* Footer end */